<div class="layout layout--stretch" id="fdp-root">
  <div class="grid grid--cols-1 gap--[12px] fdp-equal-rows">
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-number">{{ day_of_month }}</div>
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-month fdp-text">{{ month }}</div>
  </div>
</div>
