<div class="fdp">
  <div class="fdp-container">
    <div class="fdp-half-vert" id="fdp-root">
      <div class="fdp-tile fdp-number">{{ day_of_month }}</div>
      <div class="fdp-tile fdp-month fdp-text">{{ month }}</div>
    </div>
  </div>
</div>
