name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      TZ: Australia/Brisbane
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Set up Ruby
        # Use ruby/setup-ruby action
        uses: ruby/setup-ruby@v1
        with:
          # Use the version specified in your .ruby-version file
          ruby-version: .ruby-version
          # Caches installed gems automatically
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Install trmnlp gem
        run: gem install trmnl_preview
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
